:root {
  --text-color: var(--color-Neutral-30);
  --disable-color: var(--color-Neutral-80);
  --font-light-color: var(--color-Neutral-50);
  --copyright-color: rgba(255, 255, 255, 0.48);
  --input-color: var(--color-Neutral-98);
  --border-color: var(--color-Neutral-90);
}
