:root {
  --brand-color: #12b89a;
  --bg-color: #f3fbfc;
  --text-color: #40464a;
  --disable-color: #cccccc;
  --font-light-color: #737b90;
  --copyright-color: rgba(255, 255, 255, 0.48);
  --input-color: #fafafa;
  --border-color: #dee2e2;
}
